import { BaseError } from "./base-response";

export class <%= className %> extends BaseError {
  constructor(message: string, status: number) {
    super(message);
    this.name = "<%= name %>";
    this.status = status;
    this.message = message || "<%= defaultMessage %>";
  }
}
